<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.CompcGroup">
<stringAttribute key="ARGUMENTS" value=" -target-player={playerVersion}&#10; -externs = de.hopa.airbrake.example:AirbrakeNotifierExample&#10; -externs = de.hopa.yaul.text:trim"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<stringAttribute key="OUTPUT" value="bin/as3-airbrake-notifier.swc"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_RSLS" value="false"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<stringAttribute key="PROJECT_NAME" value="as3-airbrake-notifier"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/as3-airbrake-notifier"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
